<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="/static/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
</head>

<body>

    {{#each courses}}
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">Course: {{this.name}}</div>
                <div class="card-body">
                    <div class="row">
                        <!-- Course Description -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="card mb-4 text-white bg-primary">
                                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="fs-6 fw-semibold">Course Description: {{this.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Instructor Information -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="card mb-4 text-white bg-warning">
                                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                                    <div>
                                        <div class="fs-4 fw-semibold">
                                            <p style="font-size:70%;">Instructor: {{this.instructor}}</p>
                                            <p style="font-size:70%;">Start Date: {{this.startDate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:116px;"></div>
                            </div>
                        </div>

                        <!-- Course Status -->
                        <div class="col-sm-6 col-lg-3">
                            <div class="card mb-4 text-white bg-danger">
                                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                                    <div class="col-12">
                                        <div class="fs-4 fw-semibold">
                                            <h2 class="fs-6">Course Status:</h2>
                                            {{#if this.isFull}}
                                            <p class="fs-6 bg-danger-subtle">Course Full ⚠</p>
                                            {{else}}
                                            <p class="fs-6;">Seats Available: {{this.availableSeats}}</p>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{#if this.isFull}}
                                <div style="height:42px;"></div>
                                {{else}}
                                <div style="height:84px;"></div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</body>

</html>